.title {
    font-weight: 400;
    font-size: 35px;
    color: #ff0000;  
  }
 
  .description{
    font-size: 14px;
    text-align: justify;  
    margin-top: -40px;
    align-items: end;
    border: 1px solid green;
    padding: 8px;
    border-radius: 3px;
    color: #fff;
  }
  .copyright{
    font-size: 10px;
    background-color: #000;
    font-style: oblique;
    /*width: 200px;*/
    padding: 2px 5px;
    border-radius: 3px;
    border: 1px solid#ff0000;
    color: #fff;    
  }
  .date{
    color:#fff;
    font-size: 12px;
  }
  .title,.description,.copyright,.date{
    margin: 10px;
  }
  